<div class="layout-container">
  <app-header (toggleMenu)="sidenav.toggle()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'"
                 [opened]="!isMobile" class="sidebar-wrapper"
                 [fixedInViewport]="true" [fixedTopGap]="64">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content-wrapper">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
